*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  padding: 0;
  margin: 0;

  font-family: "Inter", sans-serif;
  font-size: 1rem;
  background: #f5f7fb;
  color: #293264;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Karla", sans-serif;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

button {
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
}
